{% extends "admin_layout.html" %}

{% block title %}
Read A Book
{% endblock %}

{% block main %}

<h3>Book Requests</h3>
<hr>
<table id="requests" class="table table-hover" cellspacing="0" width="100%">
    <thead class="thead-dark">
        <tr>
            <th class="th-sm">Username
            </th>
            <th class="th-sm">Full name
            </th>
            <th class="th-sm">Title
            </th>
            <th class="th-sm">ISBN
            </th>
            <th class="th-sm">Phone number
            </th>
            <th class="th-sm">Postal address
            </th>
            <th class="th-sm">Pickup
            </th>
            <th class="th-sm">Action
            </th>
        </tr>
    </thead>
    <tbody>
        {% for book in book_requests %}
        <tr>
            <td>{{ book.username }}</td>
            <td>{{ book.fullname }}</td>
            <td><a href="/adminview/{{ book.isbn }}">{{ book.title }}</a></td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.phone }}</td>
            <td>{{ book.postalAdd }}</td>
            <td>{{ book.pickup }}</td>
            <td><span>
                    <form action="/issue/{{ book.isbn }}/{{ book.username }}/yes" method="POST"><button type="submit" class="btn btn-success">Approve</button></form>
                </span> <span>
                    <form action="/issue/{{ book.isbn }}/{{ book.username }}/no" method="POST"><button type="submit" class="btn btn-danger">Decline</button></form>
                </span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Books Issued</h3>
<hr>
<table id="issues" class="table table-hover" cellspacing="0" width="100%">
    <thead class="thead-dark">
        <tr>
            <th class="th-sm">Title
            </th>
            <th class="th-sm">Issued To
            </th>
            <th class="th-sm">Admin
            </th>
            <th class="th-sm">Date Issued
            </th>
            <th class="th-sm">Date Returned
            </th>
        </tr>
    </thead>
    <tbody>
        {% for book in books_issued %}
        <tr>
            <td><a href="/adminview/{{ book.isbn }}">{{ book.title }}</a></td>
            <td>{{ book.issuedTo }}</td>
            <td>{{ book.issuedBy }}</td>
            <td>{{ book.dateIssued }}</td>
            <td>{{ book.dateReturned }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Catalog</h3>
<hr>
<table id="catalog" class="table table-hover" cellspacing="0" width="100%">
    <thead class="thead-dark">
        <tr>
            <th class="th-sm">Title
            </th>
            <th class="th-sm">Author
            </th>
            <th class="th-sm">ISBN
            </th>
            <th class="th-sm">Count
            </th>
        </tr>
    </thead>
    <tbody>
        {% for book in all_books %}
        <tr>
            <td><a href="/adminview/{{ book.isbn }}">{{ book.title }}</a></td>
            <td>{{ book.author }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    $(document).ready(function() {
        $('#catalog').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
<script>
    $(document).ready(function() {
        $('#requests').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
<script>
    $(document).ready(function() {
        $('#issues').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock %}
