{% extends "layout.html" %}

{% block title %}
Borrow book
{% endblock %}

{% block main %}
<!-- <div>
<form action="/borrow" method="post">
    <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Name</label>
            <input type="text" class="form-control" id="inlineFormInputName" placeholder="Your Postal Address">
        </div>
        <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">ISBN</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Book's ISBN13 number">
            </div>
        </div>
        <div class="col-sm-3">
            <select class="custom-select">
                <option selected>Choose your Pickup Location</option>
                <option value="1">(Old Madras Road) RMZ Infinity, Old Madras Road, Bangalore-560016</option>
                <option value="2">(Basavanagudi) Near Dominos, Gavipuram Extension, Bangalore - 560019</option>
                <option value="3">(JP Nagar 4th Phase) Kalyani Vista, Bilekahalli, Near Delmia Circle, Bangalore-560076</option>
                <option value="4">(Kanakapura Road) Doddakallasandra, Bangalore-560062</option>
                <option value="5">(Marathahalli) Salarpuria hallmark, Marathahalli - Sarjapur Outer Ring Rd, Kaverappa Layout, Kadubeesanahalli, Bengaluru, Karnataka 560103</option>
                <option value="6">I will collect the book at the monthly meetup (https://www.meetup.com/Read-A-Book/events)</option>
                <option value="7">I will pay Rs. 50, Please deliver the book to me (The book return needs to be handled by the Reader)</option>
            </select>
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
</div> -->
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Request book
  </button>
</p>
<div class="collapse" id="collapseExample">
    <form class="p-4">
    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Email address</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword2">Password</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>

{% endblock %}
