{% extends "layout.html" %}

{% block title %}
Read A Book
{% endblock %}

{% block main %}

<!-- display the entire catalogue -->
<table id="bookList" class="table table-hover" width="100%">
    <thead class="thead-light">
        <tr>
            <th class="th-sm">Title
            </th>
            <th class="th-sm">Author
            </th>
            <th class="th-sm">Availability
            </th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>
                <img src="/static/images/{{ book.isbn }}.jpg" alt="Book cover of {{ book.title }}" width="23%">
                &nbsp; <a href="/book/{{ book.isbn }}" class="book-title">{{ book.title }}</a>
            </td>
            <td>{{ book.author }}</td>
            <td class="text-capitalize">{{ book.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- list books on the table -->
<script>
    $(document).ready(function () {
        $('#bookList').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock %}